.main-btn {
  width: fit-content;
  width: 20rem;
  padding: 0.8rem;
  border-radius: 0.5rem;
  border: 2.5px solid #FF6E7C;
  box-shadow: 0px 0px 20px -20px;
  cursor: pointer;
  background-color: #FF6E7C;
  transition: all 0.2s ease-in-out 0ms;
  user-select: none;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  color: aliceblue;
  font-size: 1.2rem;
  margin: 1rem;
  font-family: 'Archivo', sans-serif;
  letter-spacing: 0.1rem;
}

.main-btn:hover {
  background-color: #fc5364;
  box-shadow: 0px 0px 20px -18px;
}

@media only screen and (max-width: 1500px) {
  .main-btn {
    width: fit-content;
    width: 10.5rem;
    font-size: 0.8rem;
  }
}
@media only screen and (min-width: 1201px) {

}
@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 1024px) {

}
@media only screen and (max-width: 768px) {
  .main-btn {
    width: fit-content;
    width: 10.5rem;
    font-size: 0.8rem;
  }

}
@media only screen and (max-width: 480px) {
  .main-btn {
    width: fit-content;
    width: 10rem;
    font-size: 0.7rem;
  }
}
