.teacher-dashboard h1 {
  text-align: center;
  padding: 2rem;
}
.n-hw-mainTitle {
  font-size: 2.8rem;
  margin-bottom: 1rem;
}
.title-hw-form {

 background-color: rgb(212, 212, 212);
 padding: 4rem;
}
/* HOMEWORK ITEMS */ 
.homework-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.homework-list {
  margin-bottom: 2rem;
  width: 80%;
  height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.homework-container h2 {
  text-align: left;
  width: 80%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.homework-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(212, 212, 212);

  margin-bottom: 3rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  width: 98%;
}

.homework-info {
  padding: 1rem;
  width: 100%;
}
.homework-info h3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.homework-info p {
  padding: 1rem;
}
.homework-info ul {
  padding: 1rem;
}
.homework-info ul li {
  list-style-type: none;
  line-height: 1.9rem;
}
.homework-info-seperator {
  padding-left: 2rem;
}
.homework-info-seperator h5 {
  color: #FF6E7C;
}
/*
.homework-btn {
  width: 0%;
  display: none;
  margin-right: 2rem;
}*/
.homework-list::-webkit-scrollbar {
  width: 1rem;
}

.homework-list::-webkit-scrollbar-track {
  background: #CEEDC7;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
 
.homework-list::-webkit-scrollbar-thumb {
  background: #FF6E7C;
  border: 1px solid #42af7a;;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.homework-list::-webkit-scrollbar-thumb:hover {
  background: #FC5364 
}


/*STUDENTS INFO */
.student-list-container {
  background-color: rgb(212, 212, 212);
}
.students-list {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}
.students-list h2{
  text-align: left;
  width: 80%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.student-info {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  flex-wrap: wrap;
  border-bottom: 1px solid rgb(212, 212, 212);
}
.student-info div {
  text-align: center;
  margin: 1rem;
}
.student-info h5 {
  color: #FF6E7C;
}
.student-container {
  overflow-y: auto;
  overflow-x: hidden;
  height: 90vh;
  margin-bottom: 3rem;
}

.student-container::-webkit-scrollbar {
  width: 1rem;
}

.student-container::-webkit-scrollbar-track {
  background: #CEEDC7;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
 
.student-container::-webkit-scrollbar-thumb {
  background: #FF6E7C;
  border: 1px solid #42af7a;;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.student-container::-webkit-scrollbar-thumb:hover {
  background: #FC5364 
}

.student-card {
  border-top: 1px solid rgb(32, 32, 32);
  border-bottom: 1px solid rgb(32, 32, 32);
}


/* indivdual assignments */

.ind-ass {
  margin-top: 3rem;
  display: flex;
  width: 98%;
  margin-bottom: 3rem;
  border: 1px solid rgb(243, 243, 243);
  padding: 2rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.ind-ass h5{
  padding-left: 2rem;
  color: #FF6E7C;
}
.ind-ass p {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 3rem;
}
.individual-ass {
  width: 50%;
}
/* teacher feedback */
.feedback-ass {
  width: 50%;
}
.feedback-ass h5{
  padding-left: 2rem;
  color: #FF6E7C;
}
.feedback-ass p {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 3rem;
}
.student-assignment-info h3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* FEEDBACK FORM */
.teacher-feedback-form {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.feedback-input textarea {
  width: 80%;
  border: 2px solid black;
  resize: none;
  padding-top: 1rem;
  outline: none;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 1rem;
}

@media only screen and (min-width: 1201px) {

}
@media only screen and (max-width: 1200px) {
  .homework-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid rgb(212, 212, 212);
  }
  .homework-btn {
    margin-left: 2rem;
  }

  .student-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

  }
}

@media only screen and (max-width: 1024px) {

}
@media only screen and (max-width: 768px) {


}
@media only screen and (min-height: 904px) {

}
@media only screen and (max-height: 768px) {

}
@media only screen and (max-width: 480px) {

}
