.homeworkList-container{
    margin: auto;
}
.all-homework {
 
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    margin: 1.2rem;
    padding: 15px;
    border-radius: 3px;
    background-color: #8ccb9b;
}

.all-homework:hover {
    cursor: pointer; /* Change the cursor to a pointer on hover */
    box-shadow: 8px 8px 2px 2px #ceedc7;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
    transition: .3s ease;
  }

.dueDate-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
.date-cont {
    width: 50%;
    text-align: center;
    padding: 0.5rem;
    background-color: #ceedc7;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}
.hw-status {
    width: 100%;
    margin-bottom: 1rem;
}
.hw-name {
    width: 100%;
    font-weight: 700;
    color: black;
    text-decoration: none;
    margin-bottom: 1rem;
}
.pending-text{
    color: #FFFBC1;
}


@media only screen and (min-width: 1201px) {

}
@media only screen and (max-width: 1700px) {

    .all-homework {
        flex-wrap: wrap;
    }
    .date-cont {
        width: 20%;
    }
}

@media only screen and (max-width: 1500px) {
    .date-cont {
        width: 40%;
    }
}

@media only screen and (max-width: 940px) {
    .date-cont {
        width: 70%;
    }
}
@media only screen and (max-height: 768px) {
    .date-cont {
        width: 80%;
    }
}
@media only screen and (max-width: 480px) {


}
